<style>
  .jfv-header { background-color: black !important; }
  body { background-color: #f3f3f3; }
</style>

<% count = 0 %>
<% columns = 3 %>
<%= rows = gallery_images_array.size / columns - 1 %>

<div class="gallery container">
  <% (0..rows).each do %>
    <div class="row">
      <% (0..columns).each do %>
        <div class="col">
          <% image = gallery_images_array[count] %>
          <% count+= 1 %>
          <% if image %>
            <%= image_tag(image[:name], alt: image[:description], class: 'img-responsive') %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
