<div class="header-banner">
  <div class="carousel slide promotional-banner" id="jumpingfitnesscarousel" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag("jumping-main.jpg", alt: 'Opening day', class: 'img-responsive') %>
      </div>
      <div class="carousel-item">
        <%= image_tag("mel-oktoberfest.jpg", alt: 'Oktoberfest', class: 'img-responsive') %>
      </div>
      <div class="carousel-item">
        <%= image_tag("mel-diploma.jpg", alt: 'Mel getting diploma', class: 'img-responsive') %>
      </div>
      <div class="carousel-item">
        <%= image_tag("mel-shawn.jpg", alt: 'Mel training Shawn', class: 'img-responsive') %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#jumpingfitnesscarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#jumpingfitnesscarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <iframe id="myVideo" class="video" frameborder="0" height="100%" width="100%"
    src="https://www.youtube.com/embed/AZLEMIec_U4?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1&enablejsapi=1" volume="0">
  </iframe>

  <script>
    var tag = document.createElement('script');

    tag.src = "//www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('myVideo', {
            events: {
                'onReady': onPlayerReady
            }
        });
    }

    function onPlayerReady() {
        player.playVideo();
        // Mute!
        player.mute();
    }
  </script>

  <div class="gray-cover">
  </div>

  <div id="muteYouTubeVideoPlayer"></div>



  <div class="banner-text text-shadow">

    <% if false %>
      <div class="santa-text-shadow" style="margin-bottom: 25px;">
        <i class="fa fa-bell" aria-hidden="true" style="color: red;"></i>
        <h3 style="color: white;"> September 18 <span style="color: #77D63C;"><i class="fa fa-minus" aria-hidden="true"></i> </span> December 18</h3>
        <i class="fa fa-tree" aria-hidden="true">
          <a href="#sexysanta">
            </i> <span style="color: white;"> SEXY </span>
            </i> <span style="color: red;"> SANTA </span>
            </i> <span style="color: white;"> WEIGHT </span>
            </i> <span style="color: red;"> LOSS </span>
          </a>

        <i class="fa fa-tree" aria-hidden="true"></i> </br>

        <i class="fa fa-usd" aria-hidden="true"></i> <span style="color: white;" clas="text-shadow;"> 299 </span>
      </div>
    <% end %>

    PARTY FRIDAYS! </br>
    <span style="color: white"> WE NOW OFFER 4 TYPES OF CLASSES </span> </br>

    <h4>

      <a style="color: inherit;" href="https://goo.gl/maps/YN6cuVNzQt22">
        <i class="fa fa-map-marker" style="color: white;" aria-hidden="true"></i> WZ Latin Party® Fitness<span style="color: white;">, Langford </span> </h4>
      </a>
  </div>
</div>

<div class="screen-filler">
</div>

<div class="jumbotron text-center white-bg md-lg-only">
  <div class="container">
    <h1 class="display-3" id="aboutjumping"> <b class="brand"> JUMPING® FITNESS </b> </h1>

    <div class="row">
      <div class="col">
        <h4> HISTORY </h4>
        <p>
          <b class="brand"> Jumping® Fitness </b> was founded in 2001 by Czech instructors Jana and Tomas.
          It has since expanded to more than 50 countries over 4 continents.
          <b class="brand"> Jumping® </b> is more than a workout - it is a lifestyle bringing joy and happiness.
        </p>
      </div>
      <div class="col">
        <h4> TRAINING </h4>
        <p>
          <b class="brand"> Jumping®</b> is a different way to work out. It is low impact, easy on the body, and a feel-good experience
          that releases endorphins.
          As a <b>High-Intensity Training</b> (HIIT) activity, it is 3 times more effective than jogging, involves 400 muscles working at
          the same time, and can burn up to 1,000 calories per class.
        </p>
      </div>
      <div class="col">
        <h4> CERTIFICATION </h4>
        <p>
          Instructors are required to go through a Jumping® diploma certification. This is an intensive training teaching technical
          concepts about anatomy, physiology, and kinesiology. A major aspect of the training is the practical part, which focuses
          on the correct execution of excercises and class leadership skills.
        </p>
      </div>
    </div>

    <hr class="my-4">
    <p>Find out more about the health benefits of <b class="brand"> Jumping® Fitness </b> from the official website:</p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="https://www.jumping-fitness.com/en/about-jumping" role="button">Learn more</a>
    </p>
  </div>
</div>

<div class="jumbotron text-center white-bg sm-only">
  <div class="container">
    <h1 class="display-3" id="aboutjumping"> <b class="brand"> JUMPING® FITNESS </b> </h1>


      <div class="row">
        <h4 style="width: 100%; padding-bottom: 10px;"> HISTORY </h4>
        <p>
          <b class="brand"> Jumping® Fitness </b> was founded in 2001 by Czech instructors Jana and Tomas.
          It has since expanded to more than 50 countries over 4 continents.
          <b class="brand"> Jumping® </b> is more than a workout - it is a lifestyle bringing joy and happiness.
        </p>
      </div>
      <div class="row">
        <h4 style="width: 100%; padding-bottom: 10px; padding-top: 25px;"> TRAINING </h4>
        <p>
          <b class="brand"> Jumping®</b> is a different way to work out. It is low impact, easy on the body, and a feel-good experience
          that releases endorphins.
          As a <b>High-Intensity Training</b> (HIIT) activity, it is 3 times more effective than jogging, involves 400 muscles working at
          the same time, and can burn up to 1,000 calories per class.
        </p>
      </div>
      <div class="row">
        <h4 style="width: 100%; padding-bottom: 10px; padding-top: 25px;"> CERTIFICATION </h4>
        <p>
          Instructors are required to go through a Jumping® diploma certification. This is an intensive training teaching technical
          concepts about anatomy, physiology, and kinesiology. A major aspect of the training is the practical part, which focuses
          on the correct execution of excercises and class leadership skills.
        </p>
      </div>

    <hr class="my-4">
    <p>Find out more about the health benefits of <b class="brand"> Jumping® Fitness </b> from the official website:</p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="https://www.jumping-fitness.com/en/about-jumping" role="button">Learn more</a>
    </p>
  </div>
</div>


<div class="jumbotron-playroom">
  <div class="jumbotron text-center green-bg text-shadow">
    <div class="container">
      <div class="row">
        <div class="col col-lg-2">
        </div>
        <div class="col-8 col-md-auto">
          <h4> DEAR MOMS, </h4>
          <p style="font-size: 1.05em;">
            Our morning classes have a small play area in the room so that you can bring your kids to the workout!
            We will be taking turns each song to watch the kids.
          </p>
        </div>
        <div class="col col-lg-2">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron text-center white-bg md-lg-only">
  <div class="container">
    <h1 class="display-3" id="schedulepricing"> SCHEDULE & PRICING </h1>
    <div class="row">
      <div class="col">
        <h1> HOURS </h1>
        <div class="row" style="padding-top: 25px;">
          <div class="col">
            ​​<b> Mon: </b>
          </div>
          <div class="col">
            9:30am - 10:30am </br> (baby / kid friendly)
          </div>
        </div>

        <div class="row" style="padding-top: 25px;">
          <div class="col">

          </div>
          <div class="col">
            7:30pm - 8:30pm
          </div>
        </div>

        </br>

        <div class="row">
          <div class="col">
            ​​<b> Tue: </b>
          </div>
          <div class="col">
            6pm - 7pm
          </div>
        </div>

        </br>

        <div class="row">
          <div class="col">
            ​​​​<b> Wed: </b>
          </div>
          <div class="col">
            10am - 11am </br> (baby / kid friendly)
          </div>
        </div>

        <div class="row">
          <div class="col">
            ​​​​
          </div>
          <div class="col">
          </br>
            7:30pm - 8:30pm
          </div>
        </div>

        </br>

        <div class="row">
          <div class="col">
            ​​<b> Thu: </b>
          </div>
          <div class="col">
            6pm - 7pm
          </div>
        </div>

        </br>

        <div class="row">
          <div class="col">
            ​​<b> Fri: </b>
          </div>
          <div class="col">
            7:30pm - 8:30pm (Jumping party)
          </div>
        </div>

      </br>
      </br>

        <div class="row">
          <div class="col">
            ​​<b> Sat: </b>
          </div>
          <div class="col">
            10am - 11am
          </div>
        </div>
      </div>


      <div class="col">
        <h1 class="text-center"> PRICING </h1>
        <p style="text-align: justified; padding-top: 25px;">
          ​​<b> Drop-in: </b> $15 / class </br>
          <b> 10x Pass:</b> $130  <%#<small class="brand" style="font-weight: bold;"> 36% off  </small>%> </br>
          <b> Monthly Pass: </b> $90 </br> </br>
          <b> 6 Months: </b> $80 / Month </br> </br>

          <span style="font-size: 1.8em;">
            <i class="fa fa-cheque" aria-hidden="true" title="cheque"></i>
            <i class="fa fa-money" aria-hidden="true" title="cash"></i>
            <i class="fa fa-cc-visa" aria-hidden="true" title="visa"></i>
            <i class="fa fa-cc-mastercard" aria-hidden="true" title="mastercard"></i>
            <i class="fa fa-cc-amex" aria-hidden="true" title="american express"></i>
          </span>
        </p>

      </div>
      <div class="col">
        <h1> INSTRUCTIONS </h1>
          <div style="margin: 0 auto; display: inline-block;">
            <p style="text-align: justify; padding-top: 25px; padding-left: 40px;"> Please bring:</p>
            <ul style="text-align: justify; list-style: none; display: block; margin: 0px auto; ">
              <li> <small style="font-weight: bold;">1x</small> &emsp; &emsp; clean indoor shoes </li>
              <li> <small style="font-weight: bold;">1x</small>  &emsp; &emsp; towel </li>
              <li> <small style="font-weight: bold;">1x</small>  &emsp; &emsp; water bottle </li>
            </ul>
          </div>
      </div>
    </div>

    </br>
    </br>

    <% if false %>
      <h4 id="sexysanta"> <i class="fa fa-tree brand" aria-hidden="true"></i> Sexy Santa Weight Loss Challenge <i class="fa fa-tree brand" aria-hidden="true"></i> </h4>

      September 18 - December 18</br>
       </br>
      <p> Limited spots available! Enroll now for a 3 month unlimited access to classes for only <span class="brand">$299</span>. Those with highest weight loss percentages will be rewarded with a
        pedicure, Starbucks gift card, and more.</p>

        <p> Just in time for Christmas. </p>
        <i class="fa fa-bell" aria-hidden="true" style="color: red;"></i>
      <% end %>
      <h4><i class="fa fa-star brand" aria-hidden="true"></i></i> Party Fridays <i class="fa fa-star brand" aria-hidden="true"></i></i></h4>

      <p>Every friday is a themed party! Themes change every month based on votes. </p>
  </div>
</div>

<div class="jumbotron text-center white-bg sm-only">
  <div class="container">
    <h1 class="display-3" id="schedulepricing"> SCHEDULE & PRICING </h1>
      <div class="row">
        <h1 style="width: 100%; padding-bottom: 10px;"> HOURS </h1>

        <div class="row" style="padding-top: 25px; width: 100%;">
          <div class="col">
            ​​<b> Mon: </b>
          </div>
          <div class="col">
            9:30am - 10:30am </br> (kid friendly)
          </div>
        </div>

        <div class="row" style="padding-top: 25px; width: 100%;">
          <div class="col">

          </div>
          <div class="col">
            7:30 - 8:30pm
          </div>
        </div>

        </br>
        </br>
        </br>

        <div class="row" style=" width: 100%;">
          <div class="col">
            ​​<b> Tue: </b>
          </div>
          <div class="col">
            6:00 - 7:00pm
          </div>
        </div>

        </br>
        </br>
        </br>

        <div class="row" style=" width: 100%;">
          <div class="col">
            ​​​​<b> Wed: </b>
          </div>
          <div class="col">
            10am - 11am (baby / kid friendly)
          </div>
        </div>
        <div class="row" style=" width: 100%;">
          <div class="col">
            ​​​​
          </div>
          <div class="col">
            7:30pm - 8:30pm
          </div>
        </div>

        </br>
        </br>

        <div class="row" style=" width: 100%;">
          <div class="col">
            ​​<b> Thu: </b>
          </div>
          <div class="col">
            6pm - 7pm
          </div>
        </div>

        </br>
        </br>
        </br>

        <div class="row" style=" width: 100%;">
          <div class="col">
            ​​<b> Fri: </b>
          </div>
          <div class="col">
            7:30pm - 8:30pm (Jumping party)
          </div>
        </div>

        </br>
      </br>

        <div class="row" style=" width: 100%;">
          <div class="col">
            ​​<b> Sat: </b>
          </div>
          <div class="col">
            10am - 11am
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="text-center" style="width: 100%; padding-top:25px; padding-bottom: 10px;"> PRICING </h1>
        <p style="text-align: center; width: 100%;">
          ​​<b> Drop-in: </b> $15 / class </br>
          <b> 10x Pass:</b> $130 <%# <small class="brand" style="font-weight: bold;"> 36% off  </small>  %></br>
          <b> Monthly Pass: </b> $90 </br> </br>
          <b> 6 Months: </b> $80 / Month </br> </br>

          <% if false %>
          <b> Friends / Family </b> </br> Buy a 10 pass at the same time as your friend and only pay $125 <small class="brand" style="font-weight: bold;"> </small> </br> </br>
          <% end %>

          <h4><i class="fa fa-star brand" aria-hidden="true"></i></i> Party Fridays <i class="fa fa-star brand" aria-hidden="true"></i></i></h4>

          <p>Every friday is a themed party! Themes change every month based on votes. </p>

          <span style="font-size: 1.8em;">
            <i class="fa fa-cheque" aria-hidden="true" title="cheque"></i>
            <i class="fa fa-money" aria-hidden="true" title="cash"></i>
            <i class="fa fa-cc-visa" aria-hidden="true" title="visa"></i>
            <i class="fa fa-cc-mastercard" aria-hidden="true" title="mastercard"></i>
            <i class="fa fa-cc-amex" aria-hidden="true" title="american express"></i>
          </span>
        </p>
      </div>
      <div class="row">
        <h1 style="width: 100%; padding-bottom: 10px; padding-top: 25px;"> INSTRUCTIONS </h1>
          <p style="text-align: justify; padding-left: 40px;"> Please bring:</p>
          <ul style="text-align: justify; list-style: none; display: block; margin: 0px auto; ">
            <li> <small style="font-weight: bold;">1x</small> &emsp; &emsp; clean indoor shoes </li>
            <li> <small style="font-weight: bold;">1x</small>  &emsp; &emsp; towel </li>
            <li> <small style="font-weight: bold;">1x</small>  &emsp; &emsp; water bottle </li>
          </ul>
      </div>
  </div>


      </br>
      </br>

      <% if false %>
        <h4 id="sexysanta"> <i class="fa fa-tree brand" aria-hidden="true"></i> Sexy Santa <i class="fa fa-tree brand" aria-hidden="true"></i> </br>
          Weight Loss Challenge  </h4>

        September 18 - December 18</br>
         </br>
        <p> Limited spots available! Enroll now for a 3 month unlimited access to classes for only <span class="brand">$299</span>. Those with highest weight loss percentages will be rewarded with a
          pedicure, Starbucks gift card, and more.</p>

          <p> Just in time for Christmas. </p>
          <i class="fa fa-bell" aria-hidden="true" style="color: red;"></i>
      <% end %>
    </div>
</div>


<div class="jumbotron text-center green-bg text-shadow">
  <div class="container">
    <div class="row">
      <div class="col">
        <a class="btn btn-danger btn-lg" href="https://www.vagaro.com/jumpingfitnessvictoria"> Book a Class </a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron white-bg md-lg-only" style="margin-bottom: 0px;">
  <div class="container">
    <h1 class="display-3" id="contactus">CONTACT US</h1>

    <div class="row">
      <div class="col col-sm-center">
        <h4 class="text-center brand"> Jumping® Fitness Victoria </h4>

        </br>

        <p>
          <i class="fa fa-map-marker brand" aria-hidden="true"></i> 777 Goldstream Ave, #101 </br>
          &ensp; Victoria, BC, V9B 5E9​ </br>
          <i class="fa fa-phone-square brand" aria-hidden="true"></i> (604) 363-6006 </br>
          <i class="fa fa-envelope-square brand" aria-hidden="true"></i> jumpingfitnessvictoria@gmail.com
        </p>

        <div class="small-meli small-meli-sm">
        </div>
      </div>
      <div class="col text-center">
        <span class="map-lg">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2646.4192720753845!2d-123.5012923!3d48.4484845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548f0d027f81dda1%3A0x4c7f5bcbd736f2f8!2sWZ+Latin+Party+Fitness!5e0!3m2!1sen!2sca!4v1501011716038" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </span>
        <span class="map-sm">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2646.4192720753845!2d-123.5012923!3d48.4484845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548f0d027f81dda1%3A0x4c7f5bcbd736f2f8!2sWZ+Latin+Party+Fitness!5e0!3m2!1sen!2sca!4v1501011716038" width="260" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron white-bg sm-only" style="margin-bottom: 0px;">
  <div class="container">
    <h1 class="display-3" id="contactus">CONTACT US</h1>
    <div class="row col-sm-center">
      <h4 class="text-center brand" style="margin: 0 auto; padding-bottom: 15px;"> Jumping® Fitness Victoria </h4>

      </br>

      <p style="text-align: left; margin: 0 auto; padding-bottom: 15px;">
        <i class="fa fa-map-marker brand" aria-hidden="true"></i> 777 Goldstream Ave, #101 </br>
        &ensp; Victoria, BC, V9B 5E9​ </br>
        <i class="fa fa-phone-square brand" aria-hidden="true"></i> (604) 363-6006 </br>
        <i class="fa fa-envelope-square brand" aria-hidden="true"></i> jumpingfitnessvictoria@gmail.com
      </p>

      <div class="small-meli small-meli-sm">
      </div>
    </div>
    <div class="row text-center">
      <span class="map-lg">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2646.4192720753845!2d-123.5012923!3d48.4484845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548f0d027f81dda1%3A0x4c7f5bcbd736f2f8!2sWZ+Latin+Party+Fitness!5e0!3m2!1sen!2sca!4v1501011716038" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </span>
      <span class="map-sm">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2646.4192720753845!2d-123.5012923!3d48.4484845!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548f0d027f81dda1%3A0x4c7f5bcbd736f2f8!2sWZ+Latin+Party+Fitness!5e0!3m2!1sen!2sca!4v1501011716038" width="260" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </span>
    </div>
  </div>
</div>

<% if false %>
<div style="background-color: red; height: 10px; width: 100%"></div>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#viewGroupSessionsModal">Book Session</button>
  <div id="viewGroupSessionsModal" class="modal fade" role="dialog">
  </div>
  <script src="https://www.fitrackular.com/jumpingfitnessvictoria/view_available_groupsessions_embedded.js" type="text/javascript"></script>

<div style="background-color: blue; height: 10px; width: 100%"></div>
<script>

</script>
<% end %>
