/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "font-awesome";

$main-color: #77D63C;

html, body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.brand {
  color: $main-color;
}

.header-logo-lg a {
  display: block;
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 98px;
  width: 159px;
  text-indent: -10000px;
  margin-right: 25px;
}

.header-logo-md a {
  display: block;
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
  width: 98px;
  text-indent: -10000px;
}

.header-logo-sm a {
  display: block;
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 42px;
  width: 70px;
  text-indent: -10000px;
}

footer {
  background-color: $main-color;
  height: 200px;
  width: 100%;
}

.navbar-toggleable-sm .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.btn-brand {
  color: #ff2371;
  background-color: white;
  font-weight: bold;
}
.small-meli {
  background-image: image-url("mel-opening-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 295px;
  width: 480px;
}

.jumbotron-playroom {
  background-image: image-url("playroom.jpg");
}

.banner-text {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: $main-color;
  font-size: 4em;
  z-index: 4000;
  font-weight: bold;
}

.header li {
  font-weight: bold;
}

.gray-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .75) !important;
}

.fa-cheque {
  background-image: image-url("cheque.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 32px;
  width: 32px;
  padding-top: 2px;
}

.fa-germany-flag {
  background-image: image-url("german_flag.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  padding-top: 10px;
}

.fa-canada-flag {
  background-image: image-url("canada_flag.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 38px;
  width: 50px;
  padding-top: 10px;
}

@media only screen and (max-width: 767px) {
  .banner-text {
    font-size: 1.4em;
  }

  .video-banner {
    display: inline;
  }

  .promotional-banner {
    display: block;
  }

  .video {
    display: none;
  }

  .header-logo-sm {
    visibility: visible;
    display: block;
  }

  .header-logo-md {
    visibility: hidden;
    display: none;
  }

  .header-logo-lg {
    visibility: hidden;
    display: none;
  }

  .screen-filler {
    margin-bottom: -30px;
  }

  .map-lg {
    visibility: hidden;
    display: none
  }

  .map-sm {
    width: 100%;
    visibility: visible;
    display: block
  }

  .small-meli-sm {
    width: 260px;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .col-sm-center {
    text-align: center;
  }

  .sm-only {
    visibility: visible;
    display: block;
  }

  .md-lg-only {
    visibility: hidden;
    display: none;
    height: 0;
    width: 0;
    position: absolute;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .promotional-banner {
    display: none;
    visibility: hidden;
  }

  .video {
    display: inline;
  }

  .header-logo-sm {
    visibility: hidden;
    display: none;
  }

  .header-logo-md {
    visibility: visible;
    display: block;
  }

  .header-logo-lg {
    visibility: hidden;
    display: none;
  }

  .screen-filler {
    margin-bottom: -30px;
  }

  .map-lg {
    visibility: visible;
    display: block
  }

  .map-sm {
    visibility: hidden;
    display: none
  }

  .small-meli-sm {
    width: 260px;
    margin-bottom: 20px;
  }

  .sm-only {
    visibility: hidden;
    display: none;
    height: 0;
    width: 0;
    position: absolute;
  }

  .md-lg-only {
    visibility: visible;
    display: block;
    height: auto;
    width: auto;
    position: inherit;
  }
}

@media only screen and (min-width: 1200px) {
  .promotional-banner {
    display: none;
  }

  .video {
    display: inline;
  }

  .header-logo-sm {
    visibility: hidden;
    display: none;
  }

  .header-logo-md {
    visibility: hidden;
    display: none;
  }

  .header-logo-lg {
    visibility: visible;
    display: block;
  }

  .screen-filler {
    margin-bottom: -80px;
  }

  .display-3 {
    margin-bottom: 50px;
  }

  .map-lg {
    visibility: visible;
    display: block
  }

  .map-sm {
    visibility: hidden;
    display: none
  }

  .sm-only {
    visibility: hidden;
    display: none;
    height: 0;
    width: 0;
    position: absolute;
  }

  .md-lg-only {
    visibility: visible;
    display: block;
    height: auto;
    width: auto;
    position: inherit;
  }
}

.header-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.screen-filler {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.navbar-inverse .navbar-nav .nav-link {
  color: white;

}

.text-shadow {
  text-shadow: 0px 1px 6px black;
}

.santa-text-shadow {
  text-shadow: 1px 1px 10px powderblue;
}

.navbar-inverse .navbar-nav .nav-link:hover {
  color: $main-color;
}

.promotional-banner {
  width: 100%;
  height: 100vh;

  .carousel-control-prev,
  .carousel-control-next {
      z-index: 5000;
  }

  .img-responsive {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .carousel-inner {
    height: 100vh;
    width: 100%;
  }

  .carousel-item.active {
    height: 100vh;
    width: 100%;
  }
}

.img-1 {
  background-image: image-url("mel-opening.jpg");
}

.img-2 {
  background-image: image-url("mel-diploma.jpg");
}


.bg-inverse {
  background-color: rgba(0, 0, 0, .8) !important;
  background-color: transparent !important;
  z-index: 5050;
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.white-bg {
  background-color: white;
}

.green-bg {
  background-color: rgba(119, 214, 60, .90);
  color: white
}

.display-3 {
  text-align: center !important;
  font-size: 2.5em !important;
  margin-bottom: 75px;
}
