$logo-color: #FFA07A;
$secondary: #272d4e;

.field-error {
	position: absolute;
	z-index: 5000;
	color: red;
	background-color: #ff7500;
	left: 0;
	top: 0;
	padding-left: 20px;
	margin-top: -20px;
}
#viewGroupSessionsModal {
	background-color: rgba(0,0,0,.9);
}

.embedded-signup-form {
	.has-error {
		.form-control {
			border-color: #d9534f;
		}
		.help-block {
			display: none;
		}
	}

	.form-group {
		position: relative;
	}
	.form-control {
		font-size: 16px;
		line-height: 24px;
		border-radius: 0px;
		border-width: 2px;
	}

	.popover-content{
    background-color: #d9534f;
		border-color: #d9534f;
		color: white;
	}

	.popover {
		background-color: #d9534f;
		left: 25px !important;
	}

	.popover.top > .arrow:after {
		border-top-color: #d9534f;
	}
}

.embedded-logo-header {
  background-color: $secondary;
}

.embedded-login-logo-1 {
  float: left;
  font-size: 1.5em;
  color: $logo-color;
  font-weight: bold;
  margin-top: 1px;
  &:hover {
    text-decoration: none;
  }
}

.embedded-login-logo-2 {
  float: left;
  font-size: .9em;
  color: #F3F3F3;
  padding-top: 0px;
  font-weight: bold;
  margin-top: 6px;
  &:hover {
    text-decoration: none;
  }
}
