$main-color: #77D63C;

.gallery {
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;

  .row {
    margin-bottom: 20px;

    .col {
      .img-responsive {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
      }

      .img-responsive:hover {
        //cursor: pointer;
      }
    }
  }
}
