.fit-container {
  display:table;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.fit-row {
  height: 100%;
  display: table-row;
}

.shdw {
	background-color: white; box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);
}

.no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bg-transparent {
	background-color: transparent !important;
}

.tbl-fnt {
	 font-size: 12px;
}

.white-font {
 color: white;
}

.no-border-radius {
  border-radius: 0px;
}

.no-border {
  border: none;
}

no-m-l {
  margin-left: 0px;
}

no-m-r {
  margin-right: 0px;
}

.float-right {
  float: right;
}

no-p-l {
  padding-left: 0px;
}

no-p-r {
  padding-right: 0px;
}

.f-c {
  text-align: center;
}

.f-l {
  text-align: left;
}
