<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse text-shadow jfv-header">

    <button class="navbar-toggler navbar-toggler-right" style="z-index: 6000" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="container">
    <div class="header-logo-lg">
      <%= link_to root_path do %>
        Jumping Fitness Victoria
      <% end %>
    </div>

    <div class="header-logo-md">
      <%= link_to root_path do %>
        Jumping Fitness Victoria
      <% end %>
    </div>

    <div class="header-logo-sm">
      <%= link_to root_path do %>
        Jumping Fitness Victoria
      <% end %>
    </div>

    <div class="header collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#aboutjumping"> About Jumping Fitness </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedulepricing"> Schedule & Pricing </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery"> Gallery </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactus"> Contact <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.vagaro.com/jumpingfitnessvictoria/classes" style="color: orangered;"> Book a Class<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" style="float: right;">
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/jumpingfitnessvic/"> <i class="fa fa-instagram" style="font-size: 1.7em;" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/JumpingVictoria"> <i class="fa fa-facebook-official" style="font-size: 1.5em;" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <% if false %>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <% end %>
    </div>
  </div>
</nav>
